.card {
    background-color: #e1e1e1;
    padding: 1.5rem 6px;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 6px;
    border-radius: 10px;
    align-items: center;
    min-width: 154px;
    max-width: calc(100% / 4 - 6px);

    svg {
        min-width: max-content;
    }

    .card__image{
        background-color: transparent;
    }

    .card__group {
        
        .card__title, .card__quantity {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.6px;
            color: #7B7878;
        }
    }
}
