.layout {
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;

    .layout__container {
        background: #F3F3F3;
        max-width: 100% !important;
        padding-right: 1rem;
    }
    .layout__main {
        max-width: 77%;
        flex: 0 0 77%;
        margin-left: 23%;
    }
}
