.column__chart {
    background-color: #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem;
    width: calc(70% - 10px);

    .column__chart__header {
        display: flex;
        justify-content: space-between;

        .column__chart__title{
    
            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                color: #A7A7A7;
            }
            h2 {
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 600;
                font-size: 30px;
                line-height: 50px;
                color: #000000;
            }
        }
    
        .column__chart__selected {
            .column__chart__selected-btn {
                button {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    padding: 10px 0.6rem;
                    width: max-content;
                    background: #FFF8E5;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 7px;

                    span {
                        color: #6C6C6C;
                        font-size: 16px;
                    }
                }
                button:hover {
                    background-color: #fff;

                    span {
                        color: #FF6F61;
                    }
                    svg {
                        path {
                            fill: #FF6F61
                        }
                    }
                }
            }
        }
    }

    .column__chart__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1rem;

        .column__chart__item {
            margin: 1rem 0;
            .column__chart__item__group {
                display: flex;
                align-items: flex-end;
            }
        }
        .column__chart__item__col-1, .column__chart__item__col-2 {
            width: 20px;
            border-radius: 13px 13px 0px 0px;
        }
        .column__chart__item__col-1 {
            background-color: #AEAEAE;
        }
        .column__chart__item__col-2 {
            background-color: #FF6F61;
        }
        .column__chart__item__label{
            margin-top: 1.2rem;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #A7A7A7;
        }
    }
}

@media screen and (max-width: 1300px) {
    .column__chart {
        width: 100%;
    
        .column__chart__container {
            gap: 1rem;
            box-sizing: border-box;
            overflow: auto;
        }
    }
}
@media (min-width: 375px) and (max-width: 485px) {
    .column__chart {
        .column__chart__header {
            
            .column__chart__title {
                h3 {
                    font-size: 18px;
                    line-height: 20px;
                }
                h2 {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            .column__chart__selected {
                .column__chart__selected-btn {
                    button {
                        padding: 6px 0.4rem;
    
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .column__chart__container {
            .column__chart__item__label{
                margin-top: 1rem;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}